* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header.nav{
    background-color: #5b6c48;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header img{
    height: 350px;
}